input[type="color"] {
    -moz-appearance: none;
    border: none;
}
button:hover {
    background: #d1eaed;
}
button:active {
    background: #6495ed;;
    color: #fff;
}
button {
    width: 100%;
    margin-top: 7px;
    background: #fff;
    border: .05rem dashed;
    cursor: pointer;
    color: #6495ed;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: background .2s,border .2s,box-shadow .2s,color .2s;
    user-select: none;
    border-radius: .1px;
    outline: none;
}
button:focus {
    outline:none;
}
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
label {
    font-size: 13px;
}